
*{
    font-family: 'Kdam Thmor Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

$AzulMarinho: rgb(10, 18, 143);

$Branco: white;

$AzulClaro: azure;

$estiloTitulo:(
    cor: $AzulMarinho,
    TFonte: 500%,
    Posicao: relative,
    Transformacao: skew(-20deg),
    MargemEsquerda: 100px,
    MargemCima: 20px,
)














