.cabecalhoGrid{
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "titulo caminhao";
}

.titulo{
    grid-area: titulo;
    font-size: 500%;
    color: rgb(10, 18, 143);
    margin-left: 100px;
    margin-top: 20px;
    position: relative;
    transform: skew(-20deg);
}

.logo{
    font-size: 70%;
    margin-top: 30px;
}

.corpoCaminhao{
    grid-area: caminhao;
}

.caminhao{
    height: 140px;
    margin-top: 20px;
}

.navbar a{
    transition: background 0.5s;
}

.navbar a:hover{
    background-color:white;
    color: rgb(10, 18, 143) !important;
}


.rodape{
    margin-top: 500px;
    padding: 100px;
    background-image: linear-gradient(to top, rgb(10, 18, 143) 95%, white);
    color: white;
}

.rodape a{
    color: white;
}

.molas{
    margin-top: 100px;
    margin-bottom: 0;
    padding-left: 366px;
    opacity: 0.5;
}

.corpoHome{
    padding: 100px;
}

@media only screen and (max-width:768px){
    .molas{
        margin-top: 30px;
        margin-bottom: 0;
        padding-left: 0px;
        opacity: 0.5;
        width: 500px;
    }  

    .corpoHome{
        padding: 20px;
    }
}


